body {
	background: #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	min-height: 60px;
	background: #fff;
	margin-bottom: 76px;
}

.left-navigation {
	float: left;
	width: 45%;
}

.logo {
	float: left;
	
	
}

.right-navigation {
	float: right;
	width: 40%;
}

.welcome-block {
	width: 458px;
	height: 352px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
}

.headlines {
	
}